<div class="menu">
  <div class="switch"></div>
  <ul>
    <li><a href=""><span>my</span>events</a></li>
    <li><a href=""><span>past</span>events</a></li>
    <li><a href=""><span>add</span>event</a></li>
    <li><a href=""><span>my</span>friends</a></li>
    <li><a href=""><span>my</span>log</a></li>
    <li><a href=""><span>edit</span>profile</a></li>
  </ul>
</div>